fastapi
uvicorn
google-genai
google-auth-oauthlib
google-api-python-client
python-jose[cryptography]
python-dotenv
requests
pydantic
google-cloud-storage
psycopg2-binary
sqlalchemy
cloud-sql-python-connector[pg8000]
